.Warp_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1b1b1e;
    margin: 0;
  }
.InfoTexts
{
    color: #848999;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
}

.InfoTexts{
    color: #848999;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}